/* 
    Document   : Interactive Turkey Map with RaphaelJS
    Version    : 0.5
    Created on : 30.Aug.2012, 13:23:13
    Author     : Selen GORA <goraselen@gmail.com - me@selengora.com>
    Web        : selengora.com
*/
/* Demo page style begin*/
body { 
	background:#f3f3f3;
	font:12px/18px 'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif; line-height: 1.5em;
	font-family:Calibri;
	color:#47443f;
	line-height: 1.5em;
}
a   {
	color:#1669AD;
}
h1,p	{ 
	text-align: center;
	font-weight: normal;
}
/* Demo page style ends*/
.container{
	position:relative; /*for tooltip positions*/
	width:1050px;
	height:auto;
	margin:0 auto;
}
#map {
	clear:both;
	width:1050px;
	height:620px;
	position:relative;
	top:-100px; /* SVG image is starting with 130px top value so i used top:-100px  */	
}

/*Tooltip*/
.point {
position: absolute;
display: none;
background: white;
border: 1px solid #666;
padding: 10px 15px;
font-weight: bold;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
text-transform: uppercase;
margin-top: -125px;
margin-left: 25px;
}
.triangle{
display: block;
background: url(../images/triangle-down.png) no-repeat;
width: 24px;
height: 12px;
position: absolute;
bottom: -12px;
left: 40%;
}
/*.point .close {
display:block;
position:absolute;
top:-5px;
right:-5px;
width:24px;
height:24px;
text-indent:-9999px;
outline:none;
background:url(../images/close.png) no-repeat;
}
*/
.point img {
vertical-align:middle;
margin-right:10px;
}

a img {
border:none;
}

